{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <style>
        body {
            font-family: 'Inter', sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('{% static "img/projeto3d.png" %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh; /* Faz o fundo ocupar toda a altura da tela */
            background-color: #480ca8; /* Cor de fundo de fallback */
        }
    </style>
</head>
<body>
    <div class="page">
        <form class="formLogin" method="POST">
            {% csrf_token %}
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label for="email">E-mail</label>
            <input type="text" name="username" placeholder="Digite seu Usuário" autofocus="true" id="login"/>
            <label for="password">Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha" id="senha"/>

            <input type="submit" value="Acessar" class="btn"/>
            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}
        </form>
    </div>



</body>
</html>